*{margin: 0;}
.nav-bar {
    display: flex;
    background-color: black;
    justify-content: space-between;
    align-items: center;
}

.nology {
    display:flex ;
    background-color: green;
    color: white;
}

.link {
    display: flex;
    color: white;
    order: 1;
}
.flex-container {
    display: flex;
    margin: 20px;
    padding: 20px;
}
div {
    border: 1px solid black;
    margin: 5px;
    width: 500px;
    height: 200px;
    padding: 20px;
}

#righthandpannel {
    border: 1px solid black;
    margin: 5px;
}

#lefthandpanel {
    display: flex;
    flex-direction: column;
}

section {
    border: 1px solid black;
}